<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <link rel="stylesheet" href="CSS/style.css">
                <link rel="stylesheet" href="CSS/bootstrap.css">
                <title>Analizador Lexico</title>
            </head>
            <body style="background-image: linear-gradient(120deg,#3498db,#8e44ad)">
                <header> 
                    <img src="Files/Usac_logo.png" width="100" height="100">
                    <p style="text-align: center; margin: auto; margin-top: -50px;">ANALIZADOR LEXICO</p>
                </header>
                <% include bloque/nav.html%>
                <div style="background-color: red; height: 3px;"></div>
                
                <div class="archivo_entrada">
                        <h2><span class="badge badge-success">Selecciona Archivo Entrada</span></h2>
                    <input style="padding: 5px" id="botonArchivoGet" type='file' accept='text/plain' onchange='openFile(event)'><br><br>
                    <h3><span class="badge badge-info" style="width: 100%">Texto a Analizar</span></h3>
                        <textarea id='output' name='output' class="form-control" rows="10"></textarea>
                        <hr>
                        <button class="button " id="postButton">Analizar Token</button>
                        <div id='tablas' class="archivo_tablas">
                            </div>
            </div>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="/prueba.js"></script>
            </body>
</html>