<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/bootstrap.css">
    <title>Analizador Lexico</title>
</head>
<body style="background-image: linear-gradient(120deg,#3498db,#8e44ad)">
    <header> 
        <img src="Files/Usac_logo.png" width="100" height="100">
        <p style="text-align: center; margin: auto; margin-top: -50px;">ANALIZADOR LEXICO</p>
    </header>
    <% include bloque/nav.html%>
    <div style="background-color: red; height: 3px;"></div>
    <div class="contenedorInfo">
        <diV style="width: 80%; margin:auto; margin-top: 20px;">
            <h3>Nombre: </h3>
            <p>Luis Fernando Rodríguez Lima</p>
            <h3>Carnet:</h3>
            <p>201730879</p>
            <a class="btn btn-outline-light" href="/analizadorLexico" role="button" style="margin-bottom: 20px;">Ir al Analizador</a>
        </diV>
    </div>
</body>
</html>